.sceditor-container iframe, .sceditor-container textarea{
min-height: 400px;
}
.pagination-previous, .pagination-next, .pagination-link{
  background-color: #fff;
}
.is-muted{
    color: $grey-light !important;
}
a.is-muted:hover{
    color: $grey !important;
}
.dropdown{
position: relative;

    .dropdown-menu{
        display: none;
        position: absolute;
        left: 0;
        top:104%;
        z-index: 1000;
        background-color: white;
        min-width: 200px;
        text-align: left;
        box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);

        li{
            &.seperator{
                border-top:1px solid #ccc;
                margin:5px 0;
            }
            &>a{
                margin: 5px 0;
                padding:5px 0 5px 10px;
                display: block;

                &:hover{
                    background-color: whitesmoke;
                    padding-left: 15px;
                    color:#ff6600;
                }
            }
        }
    }

    &.is-aligned-right .dropdown-menu{
        left:auto;
        right: 0;
    }
    &.is-open .dropdown-menu{
        display: block;
    }
}
button.nav-item{
    font-family: "Oswald",sans-serif;
    font-size: 14px;

    &.hover{
        color: $link-hover;
    }

    &.is-active{
        color: $link-active;
    }

    &.is-tab {

        padding-bottom: calc(0.375em - 1px);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: calc(0.375em - 1px);
    }

    &:hover{
        border-bottom-color: $primary;
    }

    &.is-active{
        border-bottom: 3px solid $primary;
        color: $primary;
        padding-bottom: calc(0.375em -3px);
    }
}
.nav-item a:not(.button),
a.nav-item:not(.button) {
  color: #999;
  font-family: 'Open Sans',sans-serif;
}

.box h1{
  font-size: 32px;
}
.box h2{
  font-size: 28px;
}
.box h3{
  font-size: 22px;
}
.box h4{
  font-size: 18px;
}
.box h5{
  font-size: 14px;
}
.box h6{
  font-size: 10px;
}
