/*BLOG TOP STYLE
*/
#small-blog{
display: flex;
flex-direction: column;
padding: 10px;
border-bottom: 1px solid #E7EEF8;
}
#small-blog:last-child{
  border-bottom: none;
}
#small-blog .title{
  font-weight: 500!important;
  font-size: 22px;
  font-family: 'Oswald',sans-serif;
  line-height: 1;
  padding: 0 10px;
}
#small-blog .info{
  padding: 0px 5px;
  color:#999;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#small-blog .image img{
  width: 100px;
}

footer{
  display: flex!important;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #222;
  height: 200px;
  text-align: center;
  color:#ddd;
}
.grid-container{
	width: 100%;
    max-width: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
	grid-template-columns: repeat(1, 1fr);
    grid-gap:5px;

}

@media (min-width: 52em) {
  .grid-container {
    -ms-grid-columns: (minmax(15em, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}
/*WORK SECTION STYLE
*/
.work {
  margin: 0;
  padding: 0;
  position: relative;
  border:1px solid #E7EEF8;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px
}

.work img {
  max-width: 100%;
  display: block;
}

.work figcaption {
  padding: 20px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: rgba(34, 34, 34, 0.9);
  font-family: "Oswald",sans-serif;
  font-size: 1.2rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

.work:hover figcaption {
  opacity: 1;
}

.work .name {
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
.work h2{
  color:#fff!important;
}
.content figure:not(:last-child),
.content figure:not(:first-child),
.content figure{
  margin: 0!important;
}
/*VIDEO STRIP WIDGET STYLE
*/
.col1{
  width: 100%;
  position: relative;
  height:200px;
  background-color: whitesmoke;
}

.video-strip{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-image: url(/images/video-strip.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.flex-video{
  height: 0;
  overflow: hidden;
  padding-bottom: 29%;
  position: relative;
  opacity: 1;
}
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video{
  margin: 0 25%;
  width: 50%;
  height: 96%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow:0px 2px 4px 2px rgba(0,0,0,0.4);
  z-index: 1;

}
@media(max-width:500px) {
  .flex-video iframe, .flex-video object, .flex-video embed, .flex-video video{
    margin: 0 10%;
    width: 80%;
  }
  .flex-video{
    padding-bottom: 46%;
  }
}
