/*NEWEST BLOG STYLE*/
#small-blog{
display: flex;
flex-direction: column;
padding: 10px;
border-bottom: 1px solid #E7EEF8;
}
#small-blog:last-child{
  border-bottom: none;
}
#small-blog .title{
  font-weight: 500!important;
  font-size: 22px;
  font-family: 'Oswald',sans-serif;
  line-height: 1;
  padding: 0 10px;
}
#small-blog .info{
  padding: 0px 5px;
  color:#999;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#small-blog .image img{
  max-width: 150px;
}
@media (max-width: 700px) {
   #small-blog .image img{
      max-width:100%;
   }
}

footer{
  display: flex!important;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #222;
  height: 200px;
  text-align: center;
  color:#ddd;
}
