/*SIDEBAR CONTENT
*/
.side{
  min-width: 260px;
  width: 260px;
}
.side img{
  max-width: 100%;
}
@media(max-width:700px) {
  .side{
    width: 100%;
  }
  .flex{
    flex-direction: column;
  }
  #small-blog .image img{
    width: 100%;
  }
  #small-blog .title{
    padding: 10px 0;
  }
}
/*SIDEBAR WIDGET STYLE
*/
#widget{
  margin-bottom: 20px;
}
#widget .title{
  background-color: #E7EEF8;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Oswald',sans-serif;
}
/*SIDE WIDGET ABOUT AUTHOR
*/
.author {
width: 100%;
}
.author-text{
  text-align: center;
  padding: 5px;
  color:#333;
  font-style: italic;
  line-height: 1.4;
  font-size: 14px;
}
.progress{
  margin-bottom: 5px!important;
}
.progress.is-small{
  height: 6px!important;
}
.social{
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}
.social a{
  color:#222;
}
.social a:hover{
  color:#ff0000;
}
.social i{
  font-size: 2.4rem;
}
